.nil{
    margin: 0px 300px 0px 300px;
    padding: 250px 300px 0px 300px;
}
.chillin{
    position: relative;
}
.boy{
    z-index: 2;
}
.ring{
    top: -70px;
    z-index: 1;
}
.water{
    top: -150px;
}